.toast {
  position: fixed;
  bottom: 24px;
  right: 24px;

  min-width: 280px;
  max-width: 380px;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px 18px;

  border-radius: 10px;

  background-color: #ffffff;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

  z-index: 9999;

  animation: slideIn 0.3s ease;
}

.success-toast {
  border-left: 4px solid #22c55e;
}
.error-toast {
  border-left: 4px solid red;
}

.toast-icon {
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: #dcfce7;
  color: #16a34a;

  font-weight: bold;
  font-size: 16px;
}
.toast-error-icon {
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: #dcfce7;
  color: red;

  font-weight: bold;
  font-size: 16px;
}

.toast-title {
  margin: 0 0 2px;
  font-size: 14px;
  font-weight: 600;
  color: #166534;
}
.toast-error-title {
  margin: 0 0 2px;
  font-size: 14px;
  font-weight: 600;
  color: red;
}

.toast-message {
  margin: 0;
  font-size: 13px;
  color: #4b5563;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}